:root {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;

    --red: #E82305;
    --black: #0e0e0e;
    --green: #7dff88;
    --green-hover: #75f07f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 1em;
    border: 0;
    border-radius: 0.3em;
}

button:hover {
    cursor: pointer;
}

svg {
    width: 2em;
    height: 2em;
}

input[type=checkbox] {
    height: 1.75em;
    width: 1.75em;
}

dialog {
    border: none;
}

dialog[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes zoom {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

.icon-button {
    all: unset;
}

.flex-two-regions {
    display: flex;
    justify-content: space-between;
}

.flex-two-regions > * {
    display: flex;
    align-items: center;
    gap: 1em;
}

.red-fill {
    fill: var(--red);
}

.green-fill {
    fill: var(--green);
}

.black-stroke {
    stroke: var(--black);
}